body {
  background: linear-gradient(135deg, #ffffff, #274c8f);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: #f4f4f4;
  width: 400px;
  padding: 40px 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

h1 {
  color: #0059ff;
  font-size: 28px;
  margin-bottom: 10px;
}

.subtitle {
  color: #464c82;
  font-size: 14px;
  margin-bottom: 25px;
}

.logo {
  width: 150px;
  margin: 0 auto 25px auto;
}

h2 {
  margin: 20px 0 15px;
  font-size: 18px;
  color: #333;
}

.lista {
  list-style: none;
  margin-bottom: 25px;
  padding: 0;
} 


.lista li {
  padding: 10px 0;
  font-size: 16px;
  color: #444;
}

.lista li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.botao {
  display: inline-block;
  background: #f700ff;
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.botao:hover {
  background: #00ffff;
  transform: scale(1.05);
}

.rodape {
  margin-top: 20px;
  font-size: 12px;
  color: #777;
}